/* ALL CONTENT */
body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
}

header, footer {
	text-align: center;
	color: white;
}

/* HEADER and FOOTER */
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #203040;
	z-index: 10;
}

footer {
	background-color: #102030;
}

.menu {
	font-size: 0;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu li {
	list-style: none;
	display: inline-block;
	font-size: initial;
}

.menu a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
}

.menu a:hover {
	background-color: #304050;
}

.menu a:hover::after, .menu a:focus::after {
	content: ">";
	position: absolute;
	right: 2px;
}

.menu a:hover::before, .menu a:focus::before {
	content: "<";
	position: absolute;
	left: 2px;
}

header label {
	display: none;
}

#menu-button {
	display: none;
}

/* Custom menu for small screens */
@media only screen and (max-width: 420px) {
	
	header {
		text-align: left;
	}

	header.menu li {
		display: block;
	}

	header.menu a {
		display: block;
		text-align: center;
	}

	header label {
		display: inline-block;
		padding: 10px;
		font-size: initial;
	}

	header label:hover, header #menu-button:checked ~ label:hover {
		background-color: #273747;
	}

	header #menu-button:checked ~ label {
		background-color: #001020;
	}

	header ul {
		background-color: #001020;
		position: absolute;
		top: 100%;
		left: 0;
	}

	header #menu-button:not(:checked) ~ ul {
		display: none;
	}
}

/* MAIN CONTENT */
main {
	flex: 1 0 auto;
	padding: 0;
}

h1 {
	margin: 5px auto;
}

h1 a {
	padding-top: calc(19px + 1em);
}

section {
	display: flex;

	min-height: 250px;
	max-height: 600px;
	height: calc(100vh - (20px + 1em));
	position: relative;
}

#portrait {
	height: 250px;
	width: 250px;
	border: 2px solid black;
	border-radius: 50%;
	background-color: lightblue;
	margin: auto;

	transition: all 1s;
}

#presentation-section {
	background-image: url("mandelbrot-2000-color.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: #5900ff;
	background-size: 2000px;
	max-height: none;
	transition: background-size 1s;
}

#education-section {
	background-color: orange;
}

#skills-section {
	background-color: deepskyblue;
}

/* Smaller portrait for little screens */
@media only screen and ((max-width: 450px) or (max-height: 350px)) {
	
	#presentation-section {
		background-size: 1000px;
	}

	#portrait {
		height: 150px;
		width: 150px;
	}
}