---
layout: wrapper
extra_css: introduction.css
---

<section id="intro-section" class="auto-height">
	<picture id="intro-background">
		<source srcset="/assets/mandelbrot-2000.webp" type="image/webp">
		<source srcset="/assets/mandelbrot-2000.png" type="image/png">
		<img src="/assets/mandelbrot-2000.png" alt="Mandelbrot Set">
	</picture>
	<div id="intro-content" class="dark">
		<!-- <h1>Lucas <span class="last-name">Guédon</span></h1> -->
		<h2>Développeur polyvalent</h2>
		<h2>Étudiant à l'ENSEIRB-MATMECA, Bordeaux</h2>
		<p>
			Bonjour !
			<br>
			Je suis Lucas <span class="last-name">Guédon</span>, étudiant à l'<strong>ENSEIRB-MATMECA</strong>. Je possède un <strong>DUT informatique</strong>.
			Pendant mon temps libre, je participe à des <i lang="en">game jams</i> et je travaille sur des projets personnels dans le but d'apprendre et de m'améliorer.
			Je m'intéresse à tous les aspects du jeu vidéo, du <i lang="en">game engine</i> au <i lang="en">gameplay</i>.
			J'aime les puzzles et les jeux de stratégie, comme <i>Baba Is You</i> et <i>Into The Breach</i> qui sont de grandes inspirations pour moi.
			<br>
			Je suis à la recherche d'un <strong>stage de 3 mois</strong> entre juin et août 2021.
			<br>
			Pour me contacter, <a href="/contact">cliquez ici</a>.
		</p>
	</div>
	<img src="/assets/portrait.jpg" id="portrait" alt="Portrait">
</section>

<!--Game Jams-->
<section>
	{% include event_list.html type=site.data.event-type.game-jam %}
</section>

<section>
	{% include event_list.html type=site.data.event-type.coding-contest %}
</section>

<section>
	{% include event_list.html type=site.data.event-type.other %}
</section>

