---
layout: wrapper
extra_css: introduction.css
---

<section id="intro-section" class="auto-height">
	<picture id="intro-background">
		<source srcset="/assets/mandelbrot-2000.webp" type="image/webp">
		<source srcset="/assets/mandelbrot-2000.png" type="image/png">
		<img src="/assets/mandelbrot-2000.png" alt="Mandelbrot Set">
	</picture>
	<div id="intro-content" class="dark">
		<h2>Lucas <span class="last-name">Guédon</span></h2>
		<h2>Gameplay Programmer à Asobo Studio</h2>
		<p>
			Hello !
			<br>
			Je suis Lucas <span class="last-name">Guédon</span>, <strong>Gameplay Programmer à Asobo Studio</strong>.
			Pendant mon temps libre, je participe à des <i lang="en">game jams</i> et je travaille sur des projets personnels dans le but d'apprendre et de m'améliorer.
			Je m'intéresse à tous les aspects du jeu vidéo, du <i lang="en">game engine</i> au <i lang="en">gameplay</i>.
			J'aime les puzzles et les jeux de stratégie, comme <i>Baba Is You</i> et <i>Into The Breach</i> qui sont de grandes inspirations pour moi.
			<br>
			Vous pouvez <a href="/contact">me contacter ici</a>.
		</p>
	</div>
	<img src="/assets/portrait.png" id="portrait" alt="Portrait">
</section>

<section>
	{% include event_list.html type=site.data.event-type.work-experience %}
</section>

<!--Game Jams-->
<section>
	{% include event_list.html type=site.data.event-type.game-jam %}
</section>

<section>
	{% include event_list.html type=site.data.event-type.other %}
</section>

