/* ALL CONTENT */
body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
}

header, footer {
	text-align: center;
	color: white;
}

/* HEADER and FOOTER */
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #121216;
}

header div {
	z-index: initial;
	background-color: #121216;
}

footer {
	background-color: #121216;
}

.menu {
	font-size: 0;
}

.menu ul {
	padding: 0;
}

.menu li {
	list-style: none;
	display: inline-block;
	font-size: initial;
}

.menu a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	padding: 10px 15px;
	position: relative;
}

.menu a:hover, .menu a:focus {
	color: inherit;
	background-color: inherit;
}

.menu a:hover {
	background-color: #26262A;
}

.menu a:hover::after, .menu a:focus::after {
	content: ">";
	position: absolute;
	right: 2px;
}

.menu a:hover::before, .menu a:focus::before {
	content: "<";
	position: absolute;
	left: 2px;
}

header label {
	display: none;
}

#menu-button {
	display: none;
}

/* Custom menu for small screens */
@media only screen and (max-width: 420px) {
	
	header {
		text-align: left;
	}

	header.menu li {
		display: block;
	}

	header.menu a {
		display: block;
		text-align: center;
	}

	header #menu-text {
		display: inline-block;
		padding: 10px;
		font-size: initial;
		cursor: pointer;
	}

	header #menu-text:hover, header #menu-button:checked ~ #menu-text:hover {
		background-color: #26262A;
	}

	header #menu-button:checked ~ #menu-text {
		background-color: #08080A;
	}

	header #menu-button:checked ~ #menu-darkener {
		position: fixed;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}

	header ul {
		background-color: #000010;
		position: absolute;
		top: 100%;
		left: 0;
	}

	header #menu-button:not(:checked) ~ ul {
		display: none;
	}
}

/* MAIN CONTENT */
main {
	flex: 1 0 auto;
	padding: 0;
}

h1, h2, h3, h4 {
	text-transform: capitalize;
}

h1 {
	margin: 5px auto;
	font-size: 2.5em;
	text-align: center;
	position: relative;
}

h1 a {
	padding-top: calc(19px + 1em);
}

h3 {
	margin: 5px auto 15px;
	position: relative;
	text-align: center;
}

h3::after {
	content: ">";
	position: absolute;
	right: -1em;
}

h3::before {
	content: "<";
	position: absolute;
	left: -1em;
}

h4 {
	margin: 15px 0;
	font-size: 1.3em;
	width: 100%;
}

h5 {
	font-size: 1em;
	margin: 15px 0 5px;
}

ul {
	margin: 0;
	padding: 0 0 0 20px;
}

p {
	text-align: justify;
	margin: 15px 0;
}

a {
	color: darkblue;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.dark a {
	color: lightskyblue;
}

a:hover, a:focus {
	color: inherit;
	background-color: rgba(0, 0, 141, 0.6);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	overflow: hidden;
}

section.auto-height {
	min-height: 250px;
	max-height: 600px;
	height: calc(100vh - (20px + 1rem)); /* menu height */
}

section > img {
	max-width: calc(100% + 40px);
}

h4::before {
	content: "// ";
}

.content {
	max-width: 1000px;
	width: calc(100% - 10px);
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}

.banner {
	width: 100%;
}

.flex-wrap {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: stretch;
}

.flex-wrap > * {
	margin: 10px;
	padding: 10px;
	flex: 1 0 0;
	min-width: 250px;
	max-width: 500px;
	background-color: rgba(255, 255, 255, 0.2);
	/*box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.flex-wrap > .large-box {
	flex: 3 0 0;
	min-width: 250px;
	max-width: 800px;
}

.flex-wrap > img, .flex-wrap > img.large-box {
	padding: 2px;
	flex: 0 0 auto;
	object-fit: contain;
}

#portrait {
	height: 250px;
	width: 250px;
	border: 2px solid black;
	border-radius: 50%;
	object-position: top;
	background-color: lightblue;
	object-fit: cover;
	margin: auto;
	z-index: 0;

	transition: all 1s;
}

#presentation-section {
	background-color: #5900FF;
	max-height: none;
	position: relative;
	z-index: -1;
}

#presentation-background {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#presentation-background img {
	display: block;
	width: auto;
	max-width: none;
	height: 2000px;
	align-self: center;
	transition: height 1s;
}

/* Smaller portrait for little screens */
@media only screen and ((max-width: 450px) or (max-height: 350px)) {
	
	#presentation-background img {
		height: 1000px;
	}

	#portrait {
		height: 150px;
		width: 150px;
	}
}



.dark {
	color: white;
}

.default-color {
	background-color: #1A1A1C;
}

.content-color {
	background-color: #24242C;
}

.banner-color {
	background-color: #121212;
}