<header>
	<div id="title-name">
		Lucas <span class="last-name">Guédon</span>
	</div>
	<div class="menu">
		<input type="checkbox" value="menu-button" id="menu-button">
		<label for="menu-button" id="menu-darkener"></label>
		<label for="menu-button" id="menu-text"><span>Menu</span></label>
		<ul>
			<li><a href="/index.html#"><span>Accueil</span></a></li>
			<li><a href="/index.html#ludum-dare-45"><span>Ludum Dare 45</span></a></li>
			<li><a href="/index.html#ludum-dare-44"><span>Ludum Dare 44</span></a></li>
			<li><a href="/index.html#project-cube"><span>Project Cube</span></a></li>
		</ul>
	</div>
	{% include contact_icons.html %}
</header>