<header>
	<div id="title-name">
		<a href="/index.html">Lucas <span class="last-name">Guédon</span></a>
	</div>
	<div class="menu">
		<a tabindex="0" id="menu-button"><span>Menu</span></a>
		<ul>
			<li><a href="/index.html#"><span>Présentation</span></a></li>
			<li><a href="/index.html#game-jam"><span>Game Jams</span></a></li>
			<li><a href="/index.html#other"><span>Autres Projets</span></a></li>
			<li><a href="/contact/"><span>Contact</span></a></li>
		</ul>
	</div>
	{% include contact_icons.html %}
</header>