---
---

$menu-height: max(calc(20px + 1rem), 42px);

/* ALL CONTENT */
body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: #{$menu-height}
}

header, footer {
	text-align: center;
	color: white;
	background-color: #222226;
}

/* HEADER and FOOTER */
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;

	> div {
		flex: 0 0 auto;
		background-color: #222226;
	}

	label {
		display: none;
	}

	#menu-button {
		display: none;
	}

	#menu-button-close {
		display: none;
	}

	/* Custom menu for small screens */
	@media only screen and (max-width: 800px) {
		padding: 0;
		.menu {
			order: -1;
			text-align: left;
			position: relative;
			ul {
				position: absolute;
				top: 100%;
				left: 0;
				height: auto;
				width: max-content;
				max-width: 100vw;
				z-index: 2;
				display: none;
				flex-direction: column;
				align-items: stretch;
				background-color: #000010;
				li {
					display: block;
					height: auto;
				}
			}
			a {
				display: block;
				text-align: center;
			}
			&:focus-within {
				ul {
					display: flex;
				}
				#menu-button-close {
					display: block;
				}
			}
		}
		#menu-button {
			display: inline-block;
			padding: 10px;
			font-size: initial;
			cursor: pointer;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-content: center;
			z-index: 2;
			span {
				margin: auto;
			}
			&:hover, &:focus {
				background-color: #08080A;
			}
		}

		#menu-button-close {
			position: absolute;
			background-color: transparent;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
			cursor: pointer;
		}
	}
}

.menu {
	font-size: 0;
	align-self: stretch;
	ul {
		padding: 0;
		height: 100%;
		li {
			list-style: none;
			display: inline-block;
			font-size: initial;
			height: 100%;
		}
		a:hover span, a:focus span {
			&::after {
				content: ">";
				position: absolute;
				right: 2px;
			}
			&::before {
				content: "<";
				position: absolute;
				left: 2px;
			}
		}
	}
	a {
		height: 100%;
		box-sizing: border-box;
		color: inherit;
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px;
		position: relative;
		display: flex;
		flex-direction: row;
		align-content: center;
		&:hover, &:focus {
			background-color: inherit;
		}
		&:hover {
			background-color: #36363A;
		}
		span {
			margin: auto;
		}
	}
}

#contacts {
	a {
		padding: 0;
		margin: 5px;
		border-radius: 2px;
		width: 32px;
		height: 32px;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: inherit;
		text-decoration: none;

		&:hover, &:focus {
			color: inherit;
			background-color: inherit;
			img {
				filter: drop-shadow( 0px 0px 2px white );
			}
		}

		@media only screen and (max-width: 370px) {
			width: 26px;
			height: 26px;
		}
	}

	@media only screen and (max-width: 250px) {
		flex-shrink: 0.5;
	}
}

#title-name {
	margin: auto 5px;
	font-size: 1.5em;
	flex: 0 1 auto;
	a {
		color: inherit;
		text-decoration: none;
		&:hover, &:focus {
			background-color: inherit;
		}
		&:hover {
			background-color: #36363A;
		}
		span {
			margin: auto;
		}
	}

	@media only screen and (max-width: 370px) {
		font-size: 1.0em;
	}
}

/* MAIN CONTENT */
main {
	flex: 1 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	> * {
		flex: 0 0 auto;
		&:last-child {
			flex: 1 0 auto;
		}
	}
}

h1, h2, h3, h4 {
	text-transform: capitalize;
}
h1 {
	margin: 0;
	padding: 5px;
	font-size: 2.5em;
	text-align: center;
	&.huge {
		padding: 30px 0;
		font-size: 4em;

		@media only screen and (max-width: 370px) {
			font-size: 3.0em;
		}
	}
}
h1, h2 {
	a {
		text-decoration: none;
		color: inherit;

		&:hover,
		&:focus {
			background-color: transparent;
			text-decoration: underline;
		}
	}
}

h3 {
	margin: 5px auto 15px;
	position: relative;
	text-align: center;
	&::after {
		content: ">";
		position: absolute;
		right: -1em;
	}
	&::before {
		content: "<";
		position: absolute;
		left: -1em;
	}
}

h4 {
	margin: 30px 0 15px;
	font-size: 1.3em;
	width: 100%;
	&::before {
		content: "// ";
	}
}

h5 {
	font-size: 1em;
	margin: 15px 0 5px;
}

span.last-name {
	font-variant: small-caps;
}


strong {
	white-space: nowrap;
}

ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type: none;
}

main ul li::before {
	content: "> ";
	font-weight: bold;
}

p {
	text-align: justify;
	margin: 15px 0;
}

a {
	color: darkblue;
	&:hover, &:focus {
		color: inherit;
		background-color: rgba(152, 176, 241, 0.5);
	}
}

img {
	max-width: 100%;
}

.dark a {
	color: lightskyblue;
	&:hover, &:focus {
		background-color: rgba(0, 0, 141, 0.6);
	}
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	&.auto-height {
		min-height: 350px;
		max-height: 600px;
		height: calc(100vh - #{$menu-height} - 100px); // remove 30px so that it is easier to understand that you can scroll
	}
}

.banner {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;
	width: 800px;
	padding: 10px 20px;
	> div {
		width: 100%;
	}
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.flex-wrap {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: stretch;
	> * {
		margin: 10px;
		flex: 1 0 0;
		min-width: min(265px, 98vw);
		max-width: 500px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
	> .large-box {
		flex: 3 0 0;
		min-width: min(265px, 98vw);
		max-width: 800px;
	}
	> img, > img.large-box {
		padding: 0px;
		flex: 0 0 auto;
		object-fit: contain;
		width: 500px;
		max-width: 100%;
	}
}

.properties {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;

	> div {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 5px;
		gap: 5px;
	}

	img {
		order: 0;
		margin-top: 0;
		margin-bottom: 0;
		width: auto;
		max-width: none;
		aspect-ratio: auto;
		background-color: inherit;
	}
}

.event-list {
	width: 100%;
	max-width:1400px;

	h2 {
		margin: 0 auto 15px;
		font-size: 1.8em;
		text-align: center;
		position: relative;
	}

	h3 {
		margin: 5px auto 0;
	}

	h4 {
		margin: 10px auto 0;
	}

	p {
		margin: 15px 0 0;
	}

	section {
		padding: 10px;
		box-sizing: border-box;

		> img {
			order: -1;
			margin-top: -10px;
			margin-bottom: 10px;
			width: calc(100% + 20px);
			max-width: none;
			aspect-ratio: 16 / 9;
			object-fit: contain;
			background-color: #000000;
		}
	}

	> * {
		color: inherit;
		width: 350px;
		max-width: min(100vw, 450px);
		flex: 1 0 auto;
	}

	> a {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-decoration: none;
		align-items: center;

		> section {
			width: 100%;
		}

		> span {
			text-decoration: underline;
			margin: 10px;
			color: darkblue;
		}

		&:hover, &:focus {
			box-shadow: 0px 0px 30px 0 rgba(255, 255, 255, 1.0);
			background-color: white;

			h2 {
				text-decoration: underline;
			}

			> span {
				color: inherit;
				background-color: rgba(152, 176, 241, 0.5);
			}

			> section > img {
				content: var(--src-gif)
			}
		}
	}
}


.pixel-art {
	image-rendering: pixelated;
}


.dark {
	color: white;
}

/* Dark Mode */
/*.default-color {
	background-color: #1A1A1C;
}

.content-color {
	background-color: #24242C;
}

.banner-color {
	background-color: #000010;
}*/


.default-color {
	background-color: lightgray;
}

.content-color {
	background-color: white;
}

.banner-color {
	background-color: #222226;
}