---
---

$small_menu: only screen and (max-width: 800px);

/* ALL CONTENT */
body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

html {
	height: 100%;
	font-family: Arial, sans-serif;
	scroll-behavior: smooth;
}

header, footer {
	text-align: center;
	color: white;
	background-color: #222226;
}

/* HEADER and FOOTER */
header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	padding: 0 10px;

	div {
		background-color: #222226;
	}
	label {
		display: none;
	}

	/* Custom menu for small screens */
	@media #{$small_menu} {
		padding: 0;
		.menu {
			order: -1;
			text-align: left;
			ul {
				height: auto;
				li {
					display: block;
					height: auto;
				}
			}
			a {
				display: block;
				text-align: center;
			}
		}
		#menu-text {
			display: inline-block;
			padding: 10px;
			font-size: initial;
			cursor: pointer;
			height: 100%;
			box-sizing: border-box;
			display: flex;
			flex-direction: row;
			align-content: center;
			position: relative;
			z-index: 2;
			span {
				margin: auto;
			}
		}
		#menu-text:hover, #menu-button:checked ~ #menu-text:hover {
			background-color: #26262A;
		}
		#menu-button:checked ~ #menu-text {
			background-color: #08080A;
		}
		#menu-button:checked ~ #menu-darkener {
			position: fixed;
			display: block;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}
		ul {
			background-color: #000010;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 2;
		}
		#menu-button:not(:checked) ~ ul {
			display: none;
		}
	}
}

.menu {
	font-size: 0;
	ul {
		padding: 0;
		height: 100%;
		li {
			list-style: none;
			display: inline-block;
			font-size: initial;
			height: 100%;
		}
		a:hover span, a:focus span {
			&::after {
				content: ">";
				position: absolute;
				right: 2px;
			}
			&::before {
				content: "<";
				position: absolute;
				left: 2px;
			}
		}
	}
	a {
		height: 100%;
		box-sizing: border-box;
		color: inherit;
		display: inline-block;
		text-decoration: none;
		padding: 10px 15px;
		position: relative;
		display: flex;
		flex-direction: row;
		align-content: center;
		&:hover, &:focus {
			color: inherit;
			background-color: inherit;
		}
		&:hover {
			background-color: #36363A;
		}
		span {
			margin: auto;
		}
	}
}

#menu-button {
	display: none;
}

#contacts {
	a {
		padding: 0;
		margin: 5px;
		border-radius: 2px;
		width: 32px;
		height: 32px;
		float: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: inherit;
		text-decoration: none;

		&:hover, &:focus {
			color: inherit;
			background-color: inherit;
		}
		&:hover {
			background-color: #36363A;
		}
	}
}

#title-name {
	margin: auto 5px;
	font-size: 1.5em;
}

/* MAIN CONTENT */
main {
	flex: 1 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	> * {
		flex: 0 0 auto;
		&:last-child {
			flex: 1 0 auto;
		}
	}
}

h1, h2, h3, h4 {
	text-transform: capitalize;
}
h1 {
	margin: 5px auto;
	font-size: 2.5em;
	text-align: center;
	position: relative;
	&.huge {
		margin: 30px 0;
		font-size: 4em;
	}
	a {
		text-decoration: none;
		color: inherit;
		&:hover, &:focus {
			background-color: transparent;
			text-decoration: underline;
		}
	}
}

h3 {
	margin: 5px auto 15px;
	position: relative;
	text-align: center;
	&::after {
		content: ">";
		position: absolute;
		right: -1em;
	}
	&::before {
		content: "<";
		position: absolute;
		left: -1em;
	}
}

h4 {
	margin: 15px 0;
	font-size: 1.3em;
	width: 100%;
	&::before {
		content: "// ";
	}
}

h5 {
	font-size: 1em;
	margin: 15px 0 5px;
}

span.last-name {
	font-variant: small-caps;
}


strong {
	white-space: nowrap;
}

ul {
	margin: 0;
	padding: 0 0 0 20px;
	list-style-type: none;
}

main ul li::before {
	content: "> ";
	font-weight: bold;
}

p {
	text-align: justify;
	margin: 15px 0;
}

a {
	color: darkblue;
	&:hover, &:focus {
		color: inherit;
		background-color: rgba(0, 0, 141, 0.6);
	}
}

img {
	max-width: 100%;
}

.dark a {
	color: lightskyblue;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	&.auto-height {
		min-height: 350px;
		max-height: 600px;
		height: calc(100vh - (20px + 1rem)); /* menu height */
	}
	> img {
		max-width: calc(100% + 40px);
	}
}

.banner {
	width: 100%;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;
	width: 800px;
	padding: 10px 20px;
	> div {
		width: 100%;
	}
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.flex-wrap {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: stretch;
	> * {
		margin: 10px;
		padding: 10px;
		flex: 1 0 0;
		min-width: 250px;
		max-width: 500px;
		background-color: rgba(255, 255, 255, 0.2);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	}
	> .large-box {
		flex: 3 0 0;
		min-width: 250px;
		max-width: 800px;
	}
	> img, > img.large-box {
		padding: 0px;
		flex: 0 0 auto;
		object-fit: contain;
		width: 500px;
		max-width: 100%;
	}
}

.event-list {
	max-width:1500px;
}



.dark {
	color: white;
}

/* Dark Mode */
/*.default-color {
	background-color: #1A1A1C;
}

.content-color {
	background-color: #24242C;
}

.banner-color {
	background-color: #000010;
}*/


.default-color {
	background-color: lightgray;
}

.content-color {
	background-color: white;
}

.banner-color {
	background-color: #222226;
}