{% assign event = site.data.events[page.event_id] %}

{% if event.post %}
	<a id="{{ page.event_id }}" href="{{ event.post }}" class="content-color">
{% endif %}
		<section class="content-color">
			<h2>{{ page.title }}</h2>
			{% include event_properties.html event_id=page.event_id %}
			{{ content }}
		</section>
{% if event.post %}
		<span>
			{% if page.link_text %}
				{{ page.link_text }} »
			{% else %}
				{% assign has_more_info = event.post | slice: 0 %}
				{% if has_more_info == "/" %}
					Plus d'info »
				{% else %}
					Jouer »
				{% endif %}
			{% endif %}
		</span>
	</a>
{% endif %}